#graphic img {
  margin-top: 21vh;
}

#prompt-text-box {
  margin-top: 3%;
}

#name {
  margin-top: 2%;
}

#name-submit-button {
  margin-left: 10px;
}

/* POSSIBLE FONTS
.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
} */
