body {
  height: 100%;
}

#bg-img-cont {
  background-image: url("../src/assets/SilentMovieCard+HD.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  justify-content: center;
  background-size: 100% 100%;
  background-position: center;
}

#title-bar-cont h1 {
  color: rgb(209, 204, 197);
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 65px;
  font-weight: 400;
  font-style: normal;
  position: relative;
  top: 20vh;
}

#outlet-cont {
  color: rgb(209, 204, 197);
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 19px;
  font-weight: 400;
  font-style: normal;
}
